.header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    flex: 1 1 0;
}

.logo {
   display: flex;
    align-items: center;
    color: mediumaquamarine;
}

.logo span {
    margin-left: 15px;
}

nav {
    display: flex;
    align-items: center;
}


nav a {
    padding: 0 15px;
    color: black;
}



.maincontent {
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
    margin-top: 20px;
}

.maincontent div {
    //border: 1px solid black;
}

.column {
    display: flex;
    flex-direction: column;
    
}

.column.large {
    width: 630px;
}

.sub {
    display: flex;
    justify-content: space-between;
}

.column.medium {
    width: 300px;
}

.column.small {
    width: 240px;
}

.article p {
    font-family: Georgia;
    font-size: 17px;
}

.pic {
    display: flex;
    height: 300px;
}

.pic p {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    
}

#phish {
    background-image: url(../images/main.png);
    
}

#phish p {
    font-size: 40px;
}

#fall {
    background-image: url(../images/fall%20season.png);
}

#camera {
    background-image: url(../images/camera.png);
}

#cat {
    background-image: url(../images/cat.png);
}

#cookie {
    background-image: url(../images/cookie.png);
    height: 240px;
}

.sub2 {
    margin-left: 20px;
}

.news h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

.bites {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.bites span {
    border-bottom: 1px solid black;
    background-color: whitesmoke;
    font-family: Verdana;
    font-size: 12px;
    
    padding: 10px 20px 10px 10px
}

.bites a {
    text-decoration: none;
    color: dimgray;
}


/*  FOOTER SECTION  */


footer {
    background-color: mediumaquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footwhite {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

footer span {
    padding: 10px;
}

.foot1 {
    display: flex;
    
}

.foot2 {
    display: flex;
}




